/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

//img
//  width 300px

.language-html.aiml:before
  content: "AIML"

.language-javascript.rivescript:before
  content: "RiveScript"